@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

<div class="col-md-6">
    @Html.Sitecore().Placeholder("left-column")
</div>
<div class="col-md-6">
    @Html.Sitecore().Placeholder("right-column")
</div>